<div class="text-center">
  <!--img class="w-50" src="assets/images/logo_big.png"/-->
  <h1>{{g.title}}</h1>
  <hr/>
  <p>
  welcome to {{g.title}} beta, theres nothing on this page here so just log in or register for now.
  </p>
</div>

<h5 class="mt-5">Changelog v0.9.3</h5>
<ul>
  <li>Deprecate "public requesters" session setting. Is now replaced by "public requester count", which, when enabled, publically displays the number of players who got accepted and the number of players still trying to get the Dodo Code of a session.</li>
  <li>Update design</li>
  <li>Some fixes</li>
</ul>

<h5 class="mt-5">Changelog v0.9.2</h5>
<ul>
  <li>Add button to close sessions, changing session status now only includes Open and Full</li>
  <li>Better search, allows for searching for players by writing "X from Y".
      Use "* from Y" or "X from *" to match for any player name / island</li>
  <li>Add setting to allow verified users to be accepted automatically to a session, useful for AFK hosting</li>
  <li>Add HTTPS</li>
  <li>Update design</li>
  <li>Numerous fixes</li>
</ul>
