
// FUCK google for being so incompetent with angular
// @import "../../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../../styles/variables.scss";

.form
{
    border-radius: 3rem;
    background-image: url('/assets/images/dots.png');
    padding: 1rem;
    padding-bottom: 2rem;
}

.login-form
{
    background-color: #EEFFEE;
}

.register-form
{
    color: $blue-dark;
    background-color: #DDFFFF;
}

.helpbutton
{
    background-color: rgba(0,0,0,0) !important;
    border: none !important;
    padding: 0.2em !important;
    margin-left: 1em;
}

.form-label
{
    font-family: 'Zilla Slab';
}

.form-label-with-hint
{
    @extend .form-label;
    margin-bottom: 0 !important;
}

.hint
{
    color: $font-col-inactive !important;
    margin-bottom: 0.5rem !important;
    font-size: 80%;
    font-weight: 400;
    line-height: 1;
    font-style: italic;
}
