<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/help">Overview</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      Joining Guide
    </li>
  </ol>
</nav>

<div class="guide">
  <h1>Joining Guide</h1>

  <div class="guide-block">
    <h4 class="guide-step">
      <span>1</span>
      Locate a Session to Join
    </h4>

    <p>Either click on a link of a session posted in a thread or look for open sessions in the <a routerLink="/sessions">Session List</a> to join.
    In the session list, you can search for specific session of players or filter by turnip prices.
    </p>

    <div class="text-center">
      <div class="figure">
        <img src="/assets/images/guides/sessionlist.png">
        <hr/>
        <label>
          The Session List.
        </label>
      </div>
    </div>

    <h4 class="guide-step">
      <span>2</span>
      Request the Dodo Code
    </h4>

    <div class="text-center">
      <div class="figure">
        <img src="/assets/images/guides/join_request.png">
        <hr/>
        <label>
          The overview of a session, including the "request dodo" button to join the session.
        </label>
      </div>
    </div>

    <p>Sessions can also be set to only allow verified players. If that is the case then a key will be displayed in the ID of the session.</p>
    <p>To join a verified-only session, you have to get verified.
    Contact a verifier or moderator for details.</p>

    <div class="text-center">
      <div class="figure">
        <img src="/assets/images/guides/verified_only.png">
        <hr/>
        <label>
          A verified-only session.
        </label>
      </div>
    </div>

    <h4 class="guide-step">
      <span>3a</span>
      Obtain the Dodo Code
    </h4>

    <p>After getting accepted you may display the Dodo Code of the session.</p>

    <div class="text-center">
      <div class="figure">
        <img src="/assets/images/guides/join_show_dodo1.png">
        <hr/>
        <label>
          The "show dodo" button.
        </label>
      </div>
    </div>

    <div class="text-center">
      <div class="figure">
        <img src="/assets/images/guides/join_show_dodo2.png">
        <hr/>
        <label>
          The Dodo Code of a session.
        </label>
      </div>
    </div>


    <h4 class="guide-step">
      <span>3b</span>
      Rejected
    </h4>

    <p>In the event that you are rejected, you will not be able to request the Dodo Code of the session again unless the host withdraws the rejection.</p>

    <div class="text-center">
      <div class="figure">
        <img src="/assets/images/guides/join_rejected.png">
      </div>
    </div>

    <div class="alert alert-info progress-bar-striped">
      <i class="float-left fa fa-exclamation"></i>
      If you find that you are often rejected, perhaps consider contacting a verifier or moderator to verify you so that hosts can be assured you are an actual player wanting to join the activities.
    </div>
  </div>
</div>

<!--
    <h4 class="guide-step">
      <span>3</span>
      Text
    </h4>

  <div class="guide-block">
    <p></p>
  </div>

    <div class="text-center">
      <div class="figure">
        <img src="/assets/images/guides/verification_post.png">
        <hr/>
        <label>
          Description
        </label>
      </div>
    </div>


    <div class="alert alert-danger progress-bar-striped">
      <i class="float-left fa fa-exclamation-circle"></i>
      Warning
    </div>
-->
