<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/help">Overview</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      Admin Guide
    </li>
  </ol>
</nav>

<div class="guide">
  <h1>Admin Guide</h1>

  <div class="guide-block">
    <p>As an admin, you have full control over the service.
    You also get a special icon on your ID, like this: <app-uuidtag [id]="adminId" [level]="Level.Admin" [link]="false"></app-uuidtag></p>
    <p>

    <p>
      You can also view usernames of players on their profile and edit your or other peoples player / island names.
    </p>

    <p>
      Also review the <a routerLink="/help/verifier">Verifier Guide</a> and the <a routerLink="/help/moderator">Moderator Guide</a>, as they apply to you as well, except with much more freedom.
    </p>
  </div>

  <div class="guide-block">
    <h3>Runtime Settings</h3>

    <p>As an admin, you have access to the Runtime Settings in the <a routerLink="/settings">Control Panel.</a>
    Here are important settings about the service. Review their descriptions carefully before changing these settings.
    Settings here also include the option do disable registrations, however admins and moderators can still create accounts.
    </p>

    <div class="text-center">
      <div class="figure">
        <img src="/assets/images/guides/admin_runtime_settings.png">
        <hr/>
        <label>
          The runtime settings in the Control Panel.
        </label>
      </div>
    </div>
  </div>

</div>
