<h3>Sessions</h3>
<hr/>

<form [formGroup]="search_form" (ngSubmit)="search_submit()">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <select formControlName="search_text_category"
              class="search-category custom-select">
        <option *ngFor="let val of GetSessionsSearchTextCategoryValues"
                [ngValue]="val">
          {{val}}
        </option>
      </select>
    </div>
    <input type="text"
           placeholder="enter search text here..."
           class="form-control"
           formControlName="search_text">
    <div class="input-group-append">
      <button class="btn btn-outline-primary"
              type="submit"
              [disabled]="this.pending">
        search
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 form-group">
      <label class="form-select-label flex-sm-column col-form-label mr-sm-3 pt-sm-1">
        order by
      </label>
      <select formControlName="order_by"
              class="custom-select custom-select-sm col-sm-8">
        <option *ngFor="let val of GetSessionsOrderCategoryValues"
                [ngValue]="val">
          {{val}}
        </option>
      </select>
    </div>
    <div class="col-sm-8 btn-group-toggle pt-sm-1">
      <label class="btn-outline-secondary btn-sm" ngbButtonLabel>
        <input type="checkbox" formControlName="reversed" ngbButton> {{reversed ? 'descending' : 'ascending'}}
      </label>
      <button type="button"
              class="btn btn-sm btn-outline-secondary ml-3"
              data-toggle="button"
              aria-pressed="false"
              (click)="collapse.toggle()"
              [attr.aria-expanded]="!filters_collapsed">
        toggle filters
      </button>
    </div>
  </div>

  <div class="container"
       #collapse="ngbCollapse"
       [(ngbCollapse)]="filters_collapsed">
    <div class="row">
      <div class="col-sm mr-sm-5">
        <div class="row form-group">
          <label class="form-select-label flex-sm-column col-form-label mr-sm-3 pt-sm-1">
            min. turnips
          </label>
          <input formControlName="min_turnip_price"
                 type="number"
                 min="0"
                 max="9001"
                 value="0"
                 class="form-control form-control-sm col-sm-8">
        </div>
      </div>

      <div class="col-sm">
        <div class="row form-group">
          <label class="form-select-label flex-sm-column col-form-label mr-sm-3 pt-sm-1">
            status
          </label>
          <select formControlName="status_filter"
                  class="custom-select custom-select-sm col-sm">
            <option *ngFor="let val of SessionStatusSearchFilterValues"
                    [ngValue]="val">
              {{val}}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm mr-sm-5">
        <div class="row form-group">
          <label class="form-select-label flex-sm-column col-form-label mr-sm-3 pt-sm-1">
            host <i class="fa fa-star"></i>
          </label>
          <select formControlName="host_starred_filter"
                  class="custom-select custom-select-sm col-sm">
            <option *ngFor="let val of SearchFilterValues"
                    [ngValue]="val">
              {{val}}
            </option>
          </select>
        </div>
      </div>

      <div class="col-sm">
        <div class="row form-group">
          <label class="form-select-label flex-sm-column col-form-label mr-sm-3 pt-sm-1">
            host <i class="fa fa-ban"></i>
          </label>
          <select formControlName="host_blocked_filter"
                  class="custom-select custom-select-sm col-sm">
            <option *ngFor="let val of SearchFilterValues"
                    [ngValue]="val">
              {{val}}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
</form>
<hr/>

<div *ngIf="!pending && current_view.length <= 0"
     class="alert alert-info" role="alert">
  Nothing found.
</div>

<ng-template [ngIf]="!pending && current_view.length > 0">
<div class="row">
  <div *ngFor="let sess of this.current_view"
       class="col-md-6 col-lg-4 col-xl-3 mb-4">
    <div class="card">
      <div class="pl-1 pr-1">
        <app-uuidtag [id]="sess.id"
                     [verified]="sess.settings.verified_only"
          ></app-uuidtag>
        <span class="float-right">
          <app-sessionstatus [status]="sess.settings.status"></app-sessionstatus>
        </span>
      </div>
      <div class="card-body">
        <h5 class="card-title">
          {{shorten_text(sess.settings.title, 40)}}
        </h5>

        <h6 class="card-subtitle">
          by
          <app-uuidtag [id]="sess.host.id" [level]="sess.host.settings.level" [verified]="sess.host.verification_post.length > 0"></app-uuidtag>
          <app-userbuttons [user]="sess.host"></app-userbuttons>
          <br/>
          <app-user-playerislandname [user]="sess.host"></app-user-playerislandname>
        </h6>
        <div *ngIf="sess.settings.turnip_prices > 0"
          >
          Turnips: {{sess.settings.turnip_prices}}
        </div>
        <div ngbTooltip="created {{get_duration_text_since(sess.created)}}"
           class="text-muted"
           >
          <small>
            last updated {{get_duration_text_since(sess.updated)}}
          </small>
        </div>
      </div>
      <div class="card-body">
        <p class="card-text">
          {{shorten_text(sess.settings.description, 100)}}
        </p>
        <a class="btn btn-primary w-100" href="#/s/{{sess.id.readable}}" role="button">view</a>
      </div>
    </div>
  </div>

  <!-- placeholders -->
  <ng-template [ngIf]="current_view.length < EntriesPerPage">
  <div *ngFor="let _i of range(current_view.length, EntriesPerPage - 1)"
       class="col-md-6 col-lg-4 col-xl-3 mb-4">
    <div class="card">
      <div class="pl-1 pr-1">
        <span class="badge badge-light w-25">&nbsp;</span>
        <span class="float-right">
          <span class="badge badge-light w-25">&nbsp;</span>
        </span>
      </div>
      <div class="card-body">
        <h5 class="card-title">
          <span class="badge badge-light w-50">&nbsp;</span>
        </h5>

        <h6 class="card-subtitle">
          <span class="badge badge-light w-50 mb-1">&nbsp;</span>
          <br/>
          <span class="badge badge-light w-50 mb-1">&nbsp;</span>
          <br/>
          <small>
            <span class="badge badge-light w-50 mb-1">&nbsp;</span>
          </small>
        </h6>
      </div>
      <div class="card-body">
        <button type="button" class="btn btn-light w-100" disabled>&nbsp;</button>
      </div>
    </div>
  </div>
  </ng-template>
</div>
</ng-template>

<!-- loading placeholders -->
<ng-template [ngIf]="pending">
<div *ngFor="let _i of range(1, EntriesPerPage)"
     class="col-md-6 col-lg-4 col-xl-3 mb-4">
  <div class="card">
    <div class="pl-1 pr-1">
      <span class="badge badge-light w-25">&nbsp;</span>
      <span class="float-right">
        <span class="badge badge-light w-25">&nbsp;</span>
      </span>
    </div>
    <div class="card-body">
      <h5 class="card-title">
        <div class="spinner-border spinner-border-sm text-secondary" role="status">
          <span class="sr-only visually-hidden">Loading...</span>
        </div>
      </h5>

      <h6 class="card-subtitle">
        <span class="badge badge-light w-50 mb-1">&nbsp;</span>
        <br/>
        <span class="badge badge-light w-50 mb-1">&nbsp;</span>
        <br/>
        <small>
          <span class="badge badge-light w-50 mb-1">&nbsp;</span>
        </small>
      </h6>
    </div>
    <div class="card-body">
      <button type="button" class="btn btn-light w-100" disabled>&nbsp;</button>
    </div>
  </div>
</div>
</ng-template>

<ul *ngIf="visible_pages.length > 0"
    class="pagination mt-3 justify-content-center">
  <li class="page-item {{page <= 0 || pending ? 'disabled' : ''}}">
    <button class="page-link pagination-btn mr-2"
            aria-label="First page"
            (click)="goto_page(0)">
      <span aria-hidden="true">&laquo;</span>
    </button>
  </li>
  <li class="page-item {{page <= 0 || pending ? 'disabled' : ''}}">
    <button class="page-link pagination-btn mr-3"
            aria-label="Previous page"
            (click)="prev_page()">
      <span aria-hidden="true">&lsaquo;</span>
    </button>
  </li>
  <li *ngFor="let i of visible_pages"
      class="page-item flex-sm-grow-0 {{i === page ? 'active' : ''}} {{pending ? 'disabled' : ''}}">
    <button class="page-link pagination-btn"
            [disabled]="i === page"
            (click)="goto_page(i)">
      {{i+1}}
    </button>
  </li>
  <li class="page-item {{page >= pages-1 || pending ? 'disabled' : ''}}">
    <button class="page-link pagination-btn ml-3"
            aria-label="Next page"
            (click)="next_page()">
      <span aria-hidden="true">&rsaquo;</span>
    </button>
  </li>
  <li class="page-item {{page >= pages-1 || pending ? 'disabled' : ''}}">
    <button class="page-link pagination-btn ml-2"
            aria-label="Last page"
            (click)="goto_page(this.pages-1)">
      <span aria-hidden="true">&raquo;</span>
    </button>
  </li>
</ul>
