
/*
@font-face {
  font-family: 'Garamond';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../assets/fonts/garamond.woff2) format('woff2');
}

@font-face {
  font-family: 'Seconda';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../assets/fonts/seconda.woff2) format('woff2');
}

@font-face {
  font-family: 'Houschka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../assets/fonts/Houschka.woff2) format('woff2');
}

@font-face {
  font-family: 'Comic Relief';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../assets/fonts/ComicRelief.woff2) format('woff2');
}
*/

@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../assets/fonts/Libre Franklin.woff2') format('woff2');
}

@font-face {
  font-family: 'Zilla Slab';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../assets/fonts/Zilla Slab.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../assets/fonts/iosevka-ss02.woff2) format('woff2');
}
