<ng-template [ngIf]="!pending && session !== undefined">
  <!-- heading -->
  <div style="text-align: center">
    session 
    <h3>
      <a *ngIf="session.settings.title.length > 0">
        {{sanitize(session.settings.title)}}
      </a>
      
      <i *ngIf="session.settings.title.length === 0"
         class="fst-italic">
        no title
      </i>

      <button *ngIf="this.can_edit"
              (click)="show_edit_title_dialog()"
              [disabled]="edit_pending"
              class="iconbtn">
        <i class="fa fa-pencil" title="copy"></i>
      </button>
    </h3>
    <h4>
      <app-uuidtag [id]="session.id"
                   [verified]="session.settings.verified_only"
                   [link]="false"
                   [show_copy]="true"></app-uuidtag>
    </h4>
    <div *ngIf="this.can_edit">
      {{session.settings.dodo}}
      <button *ngIf="this.can_edit"
              (click)="show_edit_dodo_dialog()"
              [disabled]="edit_pending"
              class="iconbtn">
        <i class="fa fa-pencil" title="copy"></i>
      </button>
    </div>

    <app-sessionstatus [status]="session.settings.status"></app-sessionstatus>
    <button *ngIf="this.can_edit"
            (click)="show_edit_session_status_dialog()"
            [disabled]="edit_pending"
            class="iconbtn">
      <i class="fa fa-pencil" title="copy"></i>
    </button>

    <div>
      by 
      <app-uuidtag [id]="session.host.id" [level]="session.host.settings.level" [verified]="session.host.verification_post.length > 0"></app-uuidtag>

      <app-user-playerislandname [user]="session.host"></app-user-playerislandname>

      <app-userbuttons [user]="session.host"></app-userbuttons>
    </div>

    <div>
      last updated 
      <a ngbTooltip="created on {{session.created.toLocaleString()}}, last updated {{session.updated.toLocaleString()}}">
        {{this.time_since_last_update_string}}
      </a>
    </div>

    <div *ngIf="session.settings.turnip_prices > 0 || this.can_edit">
      Turnip prices: {{session.settings.turnip_prices}}

      <button *ngIf="this.can_edit"
              (click)="show_edit_turnip_prices_dialog()"
              [disabled]="edit_pending"
              class="iconbtn">
        <i class="fa fa-pencil" title="copy"></i>
      </button>
    </div>

    <h5>
      description

      <button *ngIf="this.can_edit"
              (click)="show_edit_description_dialog()"
              [disabled]="edit_pending"
              class="iconbtn">
        <i class="fa fa-pencil" title="copy"></i>
      </button>
    </h5>

    <div class="container description">
      <span *ngIf="session.settings.description.length > 0">
        {{sanitize(session.settings.description)}}
      </span>
    </div>

    <ng-template [ngIf]="this.can_edit_after_closed">
      <button (click)="toggle_unlisted()"
              [disabled]="edit_pending"
              aria-toggle="button"
              class="btn btn-sm btn-secondary"
              >
        {{session.settings.unlisted ? 'unlisted' : 'listed'}}
      </button>
      <button (click)="toggle_public_requesters()"
              [disabled]="edit_pending"
              aria-toggle="button"
              class="btn btn-sm btn-secondary ml-2"
              >
        {{session.settings.public_requesters ? 'requesters public' : 'requesters private'}}
      </button>
      <button (click)="toggle_verified_only()"
              [disabled]="edit_pending"
              aria-toggle="button"
              class="btn btn-sm btn-secondary ml-2"
              >
        {{session.settings.verified_only ? 'verified-only' : 'not verified-only'}}
      </button>

    </ng-template>
  </div>
  <hr/>
  <ng-template [ngIf]="session.settings.status !== SessionStatus.Closed && userService.logged_in && this.userService.user.id.value !== session.host.id.value">
    <ng-template [ngIf]="!session.settings.verified_only || userService.user.settings.level >= Level.Moderator || userService.user.verification_post.length > 0">
      <button *ngIf="this.session.requester_status === RequesterStatus.None
                  || this.session.requester_status === RequesterStatus.Withdrawn"
              (click)="request_dodo()"
              type="button"
              class="btn btn-primary"
              >
        request dodo
      </button>
      <button *ngIf="this.session.requester_status === RequesterStatus.Sent"
              (click)="withdraw_dodo_request()"
              type="button"
              class="btn btn-secondary"
              >
        withdraw dodo request
      </button>
      <button *ngIf="this.session.requester_status === RequesterStatus.Accepted"
              (click)="get_dodo()"
              type="button"
              class="btn btn-success"
              >
        show dodo
      </button>
      <button *ngIf="this.session.requester_status === RequesterStatus.Rejected"
              type="button"
              class="btn btn-danger"
              disabled
              >
        rejected
      </button>
    </ng-template>

    <button *ngIf="session.settings.verified_only && userService.user.settings.level < Level.Moderator && userService.user.verification_post.length <= 0"
            type="button"
            class="btn btn-danger"
            disabled
            >
      this session is verified-only
    </button>
  </ng-template>

  <a *ngIf="session.settings.status === SessionStatus.Open && !userService.logged_in"
          type="button"
          class="btn btn-success"
          routerLink="/login"
          >
    log in or register to join!
  </a>

  <hr/>
  <!-- requesters -->
  <ng-template [ngIf]="can_watch_requesters">
  <ul class="list-group">
    <ng-template ngFor let-req [ngForOf]="requesters">
      <li *ngIf="req.status !== RequesterStatus.None
              && req.status !== RequesterStatus.Withdrawn"
          class="list-group-item"
          >
          <app-uuidtag [id]="req.user.id" [level]="req.user.settings.level" [verified]="req.user.verification_post.length > 0"></app-uuidtag>
        {{req.user.playername}}
        <app-userbuttons [user]="req.user"></app-userbuttons>

        <ng-template [ngIf]="is_host">
          <button *ngIf="req.status === RequesterStatus.Sent"
                  (click)="accept_requester(req.user.id)"
                  type="button"
                  class="btn btn-success"
                  >
            accept
          </button>
          <button *ngIf="req.status === RequesterStatus.Sent"
                  (click)="reject_requester(req.user.id)"
                  type="button"
                  class="btn btn-danger"
                  >
            reject
          </button>
          <button *ngIf="req.status !== RequesterStatus.Sent"
                  (click)="reset_requester(req.user.id)"
                  type="button"
                  class="btn btn-secondary"
                  >
                  {{ req.status === RequesterStatus.Accepted ? 'withdraw accept' :
                     req.status === RequesterStatus.Rejected ? 'widthdraw reject' :
                     '' }}
          </button>
        </ng-template>
      </li>
    </ng-template>
  </ul>
  </ng-template>
</ng-template>

<div *ngIf="!pending && session === undefined" class="alert alert-danger" role="alert">
  This session does not exist.
</div>

<div *ngIf="pending"
     class="d-flex justify-content-center">
  <i class="fa fa-spinner load"></i>
</div>

<!--dodo dialog-->
<ng-template #editDodoDialog let-modal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Edit Dodo Code</h4>
  </div>
  <div class="modal-body">
    <input id="dodo"
           maxlength="5"
           class="form-control {{dodo_invalid ? 'is-invalid' : ''}}"
           placeholder=""
           [formControl]="dodo_form"
           ngbAutofocus
           >
    <ng-template [ngIf]="dodo_invalid">
      <div *ngIf="dodo_form.errors.required"
           class="text-danger">
        dodo is required bro
      </div>
      <div *ngIf="dodo_form.errors.pattern"
           class="text-danger">
        dodo is invalid, check carefully bro
      </div>
      <div *ngIf="dodo_form.errors.in_use"
           class="text-danger">
        dodo is already being used by an active session
      </div>
    </ng-template>
    <hr/>
    <div class="custom-control custom-checkbox">
      <input type="checkbox"
             class="custom-control-input"
             id="dodo_leaked_1"
             [formControl]="dodo_leaked_form"
             >
      <label class="custom-control-label" for="dodo_leaked_1">previous dodo was leaked</label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-danger"
            (click)="modal.close('cancel')"
            [disabled]="pending || edit_pending || dodo_form.pending">
      cancel
    </button>

    <button type="button"
            class="btn btn-primary"
            (click)="submit_edit_dodo()"
            [disabled]="pending || edit_pending || dodo_form.pending || dodo_invalid">
      submit
    </button>
  </div>
</ng-template>

<!--title dialog-->
<ng-template #editTitleDialog let-modal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Edit Title</h4>
  </div>
  <div class="modal-body">
    <input id="title"
           type="text"
           maxlength="{{MAX_TITLE_LENGTH}}"
           class="form-control {{title_invalid ? 'is-invalid' : ''}}"
           placeholder=""
           [formControl]="title_form"
           ngbAutofocus
           >
    <ng-template [ngIf]="title_invalid">
      <div *ngIf="title_form.errors.maxlength"
           class="text-danger">
        max title length is {{MAX_TITLE_LENGTH}}
      </div>
      <div *ngIf="title_form.errors.pattern"
           class="text-danger">
        title contains illegal characters
      </div>
    </ng-template>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-danger"
            (click)="modal.close('cancel')"
            [disabled]="pending || edit_pending || title_form.pending">
      cancel
    </button>

    <button type="button"
            class="btn btn-primary"
            (click)="submit_edit_title()"
            [disabled]="pending || edit_pending || title_form.pending || title_invalid">
      submit
    </button>
  </div>
</ng-template>

<!--description dialog-->
<ng-template #editDescriptionDialog let-modal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Edit Description</h4>
  </div>
  <div class="modal-body">
    <textarea id="description"
           maxlength="{{MAX_DESCRIPTION_LENGTH}}"
           class="form-control {{description_invalid ? 'is-invalid' : ''}}"
           placeholder=""
           [formControl]="description_form"
           ngbAutofocus
           >
    </textarea>
    <ng-template [ngIf]="description_invalid">
      <div *ngIf="description_form.errors.maxlength"
           class="text-danger">
        max description length is {{MAX_DESCRIPTION_LENGTH}}
      </div>
      <div *ngIf="description_form.errors.pattern"
           class="text-danger">
        description contains illegal characters
      </div>
    </ng-template>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-danger"
            (click)="modal.close('cancel')"
            [disabled]="pending || edit_pending || description_form.pending">
      cancel
    </button>

    <button type="button"
            class="btn btn-primary"
            (click)="submit_edit_description()"
            [disabled]="pending || edit_pending || description_form.pending || description_invalid">
      submit
    </button>
  </div>
</ng-template>

<!--turnips dialog-->
<ng-template #editTurnipsDialog let-modal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Edit Turnip Prices</h4>
  </div>
  <div class="modal-body">
    <input id="turnips"
           type="number"
           min="{{MIN_TURNIPS}}"
           max="{{MAX_TURNIPS}}"
           class="form-control {{turnips_invalid ? 'is-invalid' : ''}}"
           placeholder=""
           [formControl]="turnips_form"
           >
    <ng-template [ngIf]="turnips_invalid">
      <div *ngIf="turnips_form.errors.min || turnips_form.errors.max"
           class="text-danger">
        turnip prices exceed safe limits, please reconsider
      </div>
    </ng-template>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-danger"
            (click)="modal.close('cancel')"
            [disabled]="pending || edit_pending || turnips_form.pending">
      cancel
    </button>

    <button type="button"
            class="btn btn-primary"
            (click)="submit_edit_turnips()"
            [disabled]="pending || edit_pending || turnips_form.pending || turnips_invalid">
      submit
    </button>
  </div>
</ng-template>

<!--session status dialog-->
<ng-template #editSessionStatusDialog let-modal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Edit Session Status</h4>
  </div>
  <div class="modal-body">
    once a session is closed it stays closed
    <div class="form-group">
      <label class="form-select-label flex-sm-column col-form-label mr-sm-3 pt-sm-1">
        Session Status
      </label>
      <select [formControl]="session_status_form"
              class="custom-select custom-select-sm col-sm">
        <option *ngFor="let val of SessionStatusValues"
                [ngValue]="val">
          <app-sessionstatus [status]="val"></app-sessionstatus>
        </option>
      </select>
    </div>
    <hr/>
    <div *ngIf="session_status === SessionStatus.Closed"
         class="custom-control custom-checkbox">
      <input type="checkbox"
             class="custom-control-input"
             id="dodo_leaked_2"
             [formControl]="dodo_leaked_form"
             >
      <label class="custom-control-label" for="dodo_leaked_2">dodo was leaked</label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-danger"
            (click)="modal.close('cancel')"
            [disabled]="pending || edit_pending || session_status_form.pending">
      cancel
    </button>

    <button type="button"
            class="btn btn-primary"
            (click)="submit_edit_session_status()"
            [disabled]="pending || edit_pending || session_status_form.pending">
      submit
    </button>
  </div>
</ng-template>
