<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/help">Overview</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      Hosting Guide
    </li>
  </ol>
</nav>

<div class="guide">
  <h1>Hosting Guide</h1>



</div>

<!--
    <h4 class="guide-step">
      <span>3</span>
      Text
    </h4>

  <div class="guide-block">
    <p></p>
  </div>

    <div class="text-center">
      <div class="figure">
        <img src="/assets/images/guides/verification_post.png">
        <hr/>
        <label>
          Description
        </label>
      </div>
    </div>


    <div class="alert alert-danger progress-bar-striped">
      <i class="float-left fa fa-exclamation-circle"></i>
      Warning
    </div>
-->
