<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/help">Overview</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      Hosting Guide
    </li>
  </ol>
</nav>

<div class="guide">
  <h1>Hosting Guide</h1>

  <div class="guide-block">
    <h4 class="guide-step">
      <span>1</span>
      Click the "host session" Button
    </h4>

    <p>
    To host a session, click the "host session" button at the right side of the navigation bar.
    </p>

    <div class="text-center">
      <div class="figure">
        <img src="/assets/images/guides/host_button.png">
      </div>
    </div>

    <h4 class="guide-step">
      <span>2</span>
      Enter the session details
    </h4>

    <p>
    Only the Dodo Code is required to start a session, other details such as title or description are optional.
    You can change all settings after starting the session, so don't sweat the details.
    </p>

    <div class="text-center">
      <div class="figure">
        <img src="/assets/images/guides/host_create_session.png">
        <hr/>
        <label>
          The full form to create a session, with all options.
        </label>
      </div>
    </div>

    <p>
    The possible settings are as follows:
    </p>
    <ul>
      <li>Dodo Code: the Dodo code, required to start the session.</li>
      <li>Title: a short description to summarize what the session is for, e.g. "REDD", "CELESTE".</li>
      <li>Description: a longer description for all the details that didn't fit into the title.</li>
      <li>Turnip Prices: the prices turnips sell for / cost on your island. Leave at 0 if you don't care.</li>
      <li>unlisted: whether or not the session is publically visible in the <a routerLink="/sessions">Session List</a> or not. Private hosting should probably happen over Friend Codes instead of on this site, but it's an option.</li>
      <li>public requester count: whether to publically display the number of people who you accepted to join and how many are still requesting to join. As the host, you always see these numbers.</li>
      <li>verified-only: whether only verified players may request to join the session or if any player can request to join.</li>
      <li>auto-accept verified players: whether verified players are automatically accepted and are given access to the Dodo Code of the session. Use in conjunction with verified-only for AFK hosting.</li>
    </ul>

    <h4 class="guide-step">
      <span>3</span>
      Do the Hosting
    </h4>

    <p>Congratulations, after entering the session details and clicking "create session", you have started hosting.</p>
    <p>After starting the session, you can obtain copy the url to the session to share with others by clicking the clipboard symbol next to the session ID.</p>

    <div class="text-center">
      <div class="figure">
        <img src="/assets/images/guides/host_session.png">
        <hr/>
        <label>
          An example session.
        </label>
      </div>
    </div>

    <p>You can also edit session details by clicking the pencil symbols next to the fields, or the "Show / Edit Dodo Code" button to show or edit the Dodo Code.</p>
    <p>To change session status, click the pencil symbol next to the session status and select the desired status.</p>

    <div class="text-center">
      <div class="figure">
        <img src="/assets/images/guides/host_edit_status.png">
        <hr/>
        <label>
          Editing the sessions status.
        </label>
      </div>
    </div>

    <p>To edit session settings like unlisted, verified-only, etc. click the cog in the top right corner of the session. This opens up the session settings dialog.

    <div class="text-center">
      <div class="figure">
        <img src="/assets/images/guides/host_edit_session_settings.png">
        <hr/>
        <label>
          Editing the sessions settings.
        </label>
      </div>
    </div>

    <h4 class="guide-step">
      <span>4</span>
      Getting Requesters
    </h4>

    <p>
      Once the session is started, other players can request to join.
      When a player requests to join, they appear in the list below the session.
    </p>

    <div class="alert alert-info progress-bar-striped">
      <i class="float-left fa fa-exclamation"></i>
      The list is updated automatically when a player requests to join, you do not need to refresh the page to update!
    </div>

    <div class="text-center">
      <div class="figure">
        <img src="/assets/images/guides/host_requester.png">
        <hr/>
        <label>
          Someone requesting to join the session.
        </label>
      </div>
    </div>

    <p>Now you are presented with the option to accept the player and give them permission to view the Dodo Code, or reject them and prevent them from requesting to join this session again.</p>
    <p>You can also click the <i class="fa fa-ban"></i> to block a player, preventing the player from requesting to join any of your sessions.</p>

    <div class="text-center">
      <div class="figure">
        <img src="/assets/images/guides/host_accepted.png">
        <hr/>
        <label>
          An accepted player.
        </label>
      </div>
    </div>

    <p>Now that the player is accepted they may obtain the Dodo Code.</p>
    <p>A more visible <i class="fa fa-plane"></i> next to the player ID means that the player has obtained the Dodo Code. If the plane stays transparent, it means the player has yet to obtain the Dodo Code.</p>

    <div class="text-center">
      <div class="figure">
        <img src="/assets/images/guides/host_plane.png">
        <hr/>
        <label>
          The plane indicators.
        </label>
      </div>
    </div>

    <p>You may also revoke the permission to obtain the Dodo Code from the player by clicking "widthdraw accept" (the same goes for reject), causing them to disappear from the list and they now have to request to join again.</p>

    <h4 class="guide-step">
      <span>5</span>
      Ending the Session
    </h4>

    <p>To end a session, click the red button with the <i class="fa fa-times"></i>.
    Here you can also tell us if the Dodo Code was leaked (you can also tell us about this when changing the Dodo Code).
    This helps us determine who is leaking Dodo Codes.
    </p>

    <div class="text-center">
      <div class="figure">
        <img src="/assets/images/guides/host_session_close.png">
        <hr/>
        <label>
          Ending the session.
        </label>
      </div>
    </div>

    <div class="text-center">
      <div class="figure">
        <img src="/assets/images/guides/host_session_closed.png">
        <hr/>
        <label>
          The ended session.
        </label>
      </div>
    </div>
  </div>

</div>

<!--
    <h4 class="guide-step">
      <span>3</span>
      Text
    </h4>

  <div class="guide-block">
    <p></p>
  </div>

    <div class="text-center">
      <div class="figure">
        <img src="/assets/images/guides/verification_post.png">
        <hr/>
        <label>
          Description
        </label>
      </div>
    </div>


    <div class="alert alert-danger progress-bar-striped">
      <i class="float-left fa fa-exclamation-circle"></i>
      Warning
    </div>
-->
