<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/help">Overview</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      Verifier Guide
    </li>
  </ol>
</nav>

<div class="guide">
  <h1>Verifier Guide</h1>

  <div class="guide-block">
    <p>As a verifier, your job is to verify people. You also get a special icon on your ID, like this: <app-uuidtag [id]="verifierId" [level]="Level.Verifier" [link]="false"></app-uuidtag></p>
    <p>
    You can only set verifications of users which have not been verified yet,
    or users which you verified, so if another Verifier, Moderator or Admin verifies a user, you cannot remove or change that verification.
    </p>
  </div>

  <div class="guide-block">
    <h3>How to Verify</h3>

    <h4 class="guide-step">
      <span>1</span>
      Go to the Profile of the Player
    </h4>
    <p>
    Search for the player on the <a routerLink="/players">Players</a> page or simply click on the players ID when you come across it to go to the profile of the player.
    </p>

    <h4 class="guide-step">
      <span>2</span>
      Open the Edit Verification Dialog
    </h4>
    <div class="text-center">
      <div class="figure">
        <img src="/assets/images/guides/verification_edit1.png">
        <hr/>
        <label>
          To edit the Verification, open the dialog to change Verification by clicking the pencil next to <b>Verification</b> on a players profile, when available.
        </label>
      </div>
    </div>

    <div class="text-center">
      <div class="figure">
        <img src="/assets/images/guides/verification_edit2.png">
        <hr/>
        <label>
          The Edit Verification dialog.
        </label>
      </div>
    </div>

    <h4 class="guide-step">
      <span>3</span>
      Set the Verification
    </h4>
    <p>
      To set the verification, you can either set it to <b>0</b> (the number zero) to set a verification by <i>trust</i>, i.e. there is no (public) proof to show others that this player is indeed an actual ACNH player, or set it to a post number of a post containing enough proof that the player owns the ID.
    </p>
    <div class="alert alert-danger progress-bar-striped">
      <i class="float-left fa fa-exclamation-circle"></i>
      When setting verification to a post number, make sure the post contains enough information to prove that the player does own the ID, e.g. they attached a picture of their character saying their ID.
      Make sure attached images aren't edited, e.g. the names of a player or the ID are tampered with.
      When in doubt, request to meet them in-game, ask them about it and verify them by trust (0).
    </div>

    <div class="text-center">
      <div class="figure">
        <img src="/assets/images/guides/verification_by_trust.png">
        <hr/>
        <label>
          The verification after setting it to 0.
        </label>
      </div>
    </div>

    <div class="text-center">
      <div class="figure">
        <img src="/assets/images/guides/verification_post.png">
        <hr/>
        <label>
          The verification after setting it to a post number.
          Clicking the link leads to the archived post.
        </label>
      </div>
    </div>
  </div>
</div>
