<h3>
  Terms of Service
</h3>

<h5 class="mt-4">1. INTRODUCTION AND ACCEPTING THE TERMS</h5>

<p>These Terms of Service ("Terms"), which include and hereby incorporate the Privacy Policy, {{g.title}} ("us", "our", or "we") and you ("you" or "your").</p>

<h5 class="mt-4">2. PRIVACY POLICY IS PART OF THESE TERMS AND CONDITIONS</h5>

<p>Our privacy policy is part of, and subject to, these terms and conditions of use.</p>
<p>You may view our privacy policy on this website <a routerLink="/privacy">here</a>.

<h5 class="mt-4">3. ABUSE</h5>

<p>Abuse of the service to interfere or disrupt the service or the website may result in termination of your account and public shaming.</p>
<p>Abuse may be, among other actions, repeatedly sending requests to slow down the service (denial of service - DoS), creating multiple accounts to bypass termination or leaking session codes or Dodo Codes to external services not related to /acg/.</p>
<p>Data provided by you or other users may be used as evidence of abuse.</p>

<h5 class="mt-4">4. ANTI-SPAM POLICY</h5>

<p>Use of our website in any way deemed to be spam by the administration or moderation will result in termination of your account.</p>
<p>This includes creating a username, player name, island name, session title or session description that encourages users to visit another website or use another service that are not /acg/ related.</p>

<h5 class="mt-4">5. MODIFICATIONS AND TERMINATIONS</h5>

<p>These terms and conditions may change from time to time. If such changes are made, they will be effective immediately.</p>
<p>If you disagree with changes that have been made to these terms, you should not use this website.</p>

<p>We may terminate these terms and conditions of use for any reason and at any time without notice to you.</p>

<h5 class="mt-4">6. LICENSEE STATUS</h5>

<p>You understand and agree that your use of our website is limited and non-exclusive as a revocable licensee.</p>
<p>We may terminate your license to use our website, and access to our website, for any reason, and without giving you notice.</p>

<h5 class="mt-4">7. DISCLAIMERS AND LIMITATIONS OF LIABILITY</h5>

<p>The information on our website is provided on an "as is," "as available" basis. You agree that your use of our website is at your sole risk.</p>
<p>We disclaim all warranties of any kind, including but not limited to, any express warranties, statutory warranties, and any implied warranties of merchantability, fitness for a particular purpose, and non-infringement.</p>
<p>We do not warrant that our website will always be available, access will be uninterrupted, be error-free, meet your requirements, or that any defects in our website will be corrected.</p>

<p>Information on our website should not necessarily be relied upon and should not to be construed to be professional advice from us.
We do not guarantee the accuracy or completeness of any of the information provided, and are not responsible for any loss resulting from your reliance on such information.</p>

<p>If your jurisdiction does not allow limitations on warranties, this limitation may not apply to you.
Your sole and exclusive remedy relating to your use of the site shall be to discontinue using the site.</p>

<p>Under no circumstances will we be liable or responsible for any direct, indirect, incidental, consequential (including damages from loss of business, lost profits, litigation, or the like), special, exemplary, punitive, or other damages, under any legal theory, arising out of or in any way relating to our website, your website use, or the content, even if advised of the possibility of such damages.</p>

<h5 class="mt-4">8. COMPLIANCE WITH GOVERNING LAW AND DISPUTE RESOLUTION</h5>

<p>You agree to obey all applicable laws while using our website.</p>

<h5 class="mt-4">9. SEVERABILITY OF THESE TERMS AND CONDITIONS</h5>

<p>If any part of these terms and conditions of use are determined by a court of competent jurisdiction to be invalid or unenforceable, that part shall be limited or eliminated to the minimum extent necessary so that the remainder of these terms and conditions are fully enforceable and legally binding.</p>

<h5 class="mt-4">10. HOW TO CONTACT US</h5>

<p>Don't.</p>

<h5 class="mt-4">11. ENTIRE AGREEMENT</h5>

<p>These terms and conditions, including the policies incorporated herein by express reference, constitutes your entire agreement with us with respect to your use of our website.</p>
