/* You can add global styles to this file, and also import other style files */

@use "sass:color";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./styles/variables.scss";
@import "./styles/fonts.scss";
@import "./styles/buttons.scss";
@import "./styles/forms.scss";
@import "./styles/modal.scss";

html
{
    background-color: $blue-bright;
}

body
{
    color: $font-col;
    background-color: $bg-col;
    font-family: "Libre Franklin";
}

h1, h2, h3, h4, h5, h6
{
    font-family: "Zilla Slab";
}

.text-muted
{
    color: $font-col-inactive !important;
}

.pagination-btn
{
    border-radius: 3rem !important;
    border-width: 0.2rem !important;
    border-style: solid !important;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.page-item.active .page-link
{
    color: $teal !important;
    background-color: transparent !important;
    border-color: $teal !important;
}

.page-item:not(.active) .page-link
{
    @extend .btn-primary;
}

.page-item.disabled .page-link
{
    @extend .btn-disabled;
}

.text-monospace
{
    font-family: 'Courier Prime';
}

.iconbtn
{
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    margin-left: 0.5rem;
    border: none;
    color: color.scale($font-col, $alpha: -60%);
}

.iconbtn:hover, .iconbtn:active
{
    color: $font-col;
}

.accordion > .card
{
    border: none !important;
}

.accordion > .card > .card-header
{
    background-image: url('/assets/images/dots.png');
    background-color: $green;
    color: $white !important;
    font-family: 'Zilla Slab';
    border-bottom: 0.2rem dashed $brown-bright;
}

.accordion > .card > .card-header > .btn-link
{
    width: 100%;
    font-size: 14pt;
    color: $white !important;
}

a
{
    color: $green;
}

a:hover
{
    color: $green-dark;
}

.second {
}
 
@keyframes load-anim
{
    to
    {
        transform: rotate(360deg);
    }
}
.load
{
    color: $teal-bright !important;
    animation: load-anim 1.3s steps(8, end) infinite;
}
