/* You can add global styles to this file, and also import other style files */

@use "sass:color";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./styles/variables.scss";
@import "./styles/fonts.scss";
@import "./styles/buttons.scss";

html
{
    background-color: $blue-bright;
}

body
{
    color: $font-col;
    background-color: $bg-col;
    font-family: "Libre Franklin";
}

h1, h2, h3, h4, h5, h6
{
    font-family: "Zilla Slab";
}

.text-muted
{
    color: $font-col-inactive !important;
}

.pagination-btn
{
    border-radius: 3rem !important;
    border-width: 0.2rem !important;
    border-style: solid !important;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.page-item.active .page-link
{
    color: $teal !important;
    background-color: transparent !important;
    border-color: $teal-bright !important;
}

.page-item:not(.active) .page-link
{
    @extend .btn-primary;
}

.page-item.disabled .page-link
{
    @extend .btn-disabled;
}

.search-category
{
    border-top-left-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.text-monospace
{
    font-family: Iosevka;
}

.iconbtn
{
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    margin-left: 0.5rem;
    border: none;
    color: color.scale($font-col, $alpha: -60%);
}

.iconbtn:hover, .iconbtn:active
{
    color: $font-col;
}

// dialog
.dialog .modal-dialog .modal-content
{
}

.dialog-info .modal-dialog .modal-content
{
    @extend .alert-info;
}

.dialog-warning .modal-dialog .modal-content
{
    @extend .alert-warning;
}

.dialog-error .modal-dialog .modal-content
{
    @extend .alert-danger;
}
